{% extends "oldBase.tmpl" %}

{% block body %}
{% if status == 'success' %}
<div id='errorScreen' class="main">
  <div class="syncError info">
    Please check your email for a reset code.
  </div>
</div>
{% else %}
<div id='errorScreen' class="main">
  {% if status == 'accountNotFound' %}
  <div class="syncError">
    We could not locate your account.
  </div>
  {% endif %}
</div>

<div class="main cf">
  <h3>Forgot your password?</h3>
  <p>Just enter your email address or username below.</p>

  <form class="siteForm" action='/forgot-password' method='POST'>
    {% csrf_token %}
    <div class="field">
      <label class="inputDesc">email or username</label>
      <div class="inputField">
        <input type="text" name="username" value="{{ request.REQUEST.username }}" autofocus />
      </div>
      {{ password_form.username.errors }}
    </div>

    <input type="submit" class="btn small" value="Reset Password"></input>
  </form>
</div>
{% endif %}
{% endblock %}
