<script type='text/html' id='tmpl-sharepanel'>
<div id="share" data-bind="style: {right: panelRight() + 'px'}">
  <h1 class="spc_lt">Export</h1>
  <div data-bind="click: exportPDF" class="btn-large">
    Export to PDF
  </div>
  <div data-bind="click: exportPNG" class="btn-large">
    Export to PNG
  </div>
  <div data-bind="click: exportSVG" class="btn-large">
    Export to SVG
  </div>
</div>
</script>
