{% extends "oldBase.tmpl" %}

{% block body %}
<div class="main cf">
  <h3>Reset password</h3>
  <p>Enter a new password for the user account &ldquo;{{ username }}&rdquo;.</p>
  <form action='/reset-password' method='POST' class='siteForm'>
  {% csrf_token %}
  <input type='hidden' name='code' value="{{ code }}"/>
  <div class="field">
    <label class="inputDesc">New Password</label>
    <div class="inputField">
      <input type="password" name='password'/>
    </div>
  </div>
  <input type='submit' class='btn small' value="Change Password"></input>
  </form>
</div>
{% endblock %}
