<script type='text/html' id='tmpl-dash'>
<!-- ko template: {name: 'tmpl-quickadd', data:quickaddView} --><!-- /ko -->
<!-- ko template: {name: 'tmpl-workspace', data:workspaceView, afterRender: workspaceView.init} --><!-- /ko -->
</script>
