<script type='text/html' id='tmpl-metric-dropdown'>
  <div class="metric" data-bind="click: toggleDropdown, css: extraCSS">
    <div class="metric-icon" data-bind="css: type"></div>
    <div class="metric-name" data-bind="text: name"></div>
    <!-- ko if: name != 'count(*)' -->
    <div class="metric-option-arrow"></div>
    <!-- /ko -->
  </div>
</script>
