<script type='text/html' id='tmpl-numeral-item'>
<div class="chart item"
     data-bind="style: {zIndex: zIndex},
                pui_jqDraggableResizeable: dragResizeParams,
                css: {'drag-shadow': isDragging},
                event: {mousedown: onSelect}">
  <div class="chart-inner">
  </div>
  <div class="details" data-bind="visible: !isViewer()">
    <div class="details-button editChartBtn" data-bind="click: editNumeral">
      <img src="/static/main/images/icon_edit.png" />
      <span class="text"><span class="keyword">Edit</span> Number</span>
    </div>
    <div class="details-button deleteChartBtn" data-bind="click: deleteItem">
      <img src="/static/main/images/icon_delete.svg" />
      <span class="text"><span class="keyword">Delete</span> Number</span>
    </div>
  </div>
</div>
</script>
