<script type='text/html' id='tmpl-dashboard-viewer'>
<div class="graphbuilder-main">
  <div class="dashboard-container" data-bind="css: {viewer: true}">
  <!-- ko template: {name: 'tmpl-workspace', data:workspaceView, afterRender: workspaceView.init} --><!-- /ko -->
  </div>
</div>
</script>
